@page "{id:int}"
@model Biblioteca.Pages.Pages.Cliente.Delete
<link rel="stylesheet" href="~/lib/css/estilo.css"/>
<div>
    <h1>Deseja realmente remover?</h1>

    <p><strong>Nome:</strong> @Model.ClienteModel.Nome </p>
    <p><strong>Email:</strong> @Model.ClienteModel.Email </p>
    <p><strong>Telefone:</strong> @Model.ClienteModel.Telefone </p>
    <p><strong>CPF:</strong> @Model.ClienteModel.Cpf </p>
</div>

<form method="post">
    <div class="form-group">
        <input type="submit" value="Sim" class="btn btn-danger"/>
        <a asp-page="/Cliente/Index" class="btn btn-primary"> Voltar</a>
    </div>
</form>