<ul class="nav nav-pills" name="navbar">
    <li class="nav-item"><a asp-page="/Index" class="nav-link ">Home</a></li>
    <li class="nav-item"><a asp-page="/Bibliotecario/Index" class="nav-link" >Bibliotecario</a></li>
    <li class="nav-item"><a asp-page="/Livro/Index" class="nav-link" aria-current="page">Livros</a></li>
    <li class="nav-item"><a asp-page="/Emprestimo/Index" class="nav-link aria-current="page"">Empréstimos</a></li>
</ul> 
