@page
@model ProjetoBiblioteca.RazorPages.Pages.Index
@using System.Globalization

<link rel="stylesheet" href="~/lib/css/estilo.css"/>

@* <h1>Biblioteca Sebo do Senac</h1> *@

<img class = "img-livro" src="~/images/img-livro.png" width="300" height="300" >

<div class="info">
    <div align="center">
    </div>
        <h3>Bem-Vindo</h3>
</div>


    
<style>
    main{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .info{
        width: 60vw;
        text-align: center;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
    }
</style>